<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login/getLogin" method="post">
        <input type="email" name="Ashu" id="" placeholder="email"> <br>
        <input type="password" name="pass" id="" placeholder="pass"><br>
        <input type="submit">
    </form>

        {{#data}}
     
           
            <form action="/login/updateLogin" method="post">
        <input type="text" name="id" id="" value="{{id}}"> <br>
        <input type="text" name="name" id="" value="{{name}}"> <br>
        <input type="text" name="country" id="" value="{{country}}"> <br>
        <input type="text" name="age" id="" value="{{age}}"> <br>
        <input type="submit">
    </form>
      <br>
        {{/data}}
   
</body>
</html>